@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <div id="trending">

    </div>
</div>

@section Scripts{
    <script>
        const trendingList = document.getElementById("trending")
        const loadImdbDetails = async () => {
            try {
                const res = await fetch('https://api.themoviedb.org/3/trending/movie/week?api_key=5ce87294fb3a862a4f6352de3650c10e');
                const movieData = await res.json();
                displayTrending(movieData);
                console.log(movieData.results[0]);
            }
            catch (err){
                console.log(err)
            }
        }
        loadImdbDetails();

        const displayTrending = (data) => {
            for (let i = 0; i < 9; i++) {
            const htmlString = `
                    <div class="container">
                        <div class="row">
                            <div class="card" style="width: 50%;">
                                <img class="card-img-top" style="" src="https://image.tmdb.org/t/p/original/${data.results[i].poster_path}" alt="${data.results[i].title} poster image">                      
                            </div>
                            <div class="card" style="width: 50%;">
                                <div class="card-body">
                                    <h5 class="card-title">${data.results[i].title}</h5>
                                    <p class="card-title">Released: ${data.results[i].release_date} Rating: ${data.results[i].vote_average}</p>
                                    <p class="card-text">${data.results[i].overview}</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                         </div>
                    </div>

            `;
            trendingList.innerHTML += htmlString;
            }
            
        }
    </script>
}